//==============================================================================================
// VARIABLES
//----------------------------------------------------------------------------------------------
// Primary customization point for making expected modifications to the site.
//==============================================================================================

// Colors
$black : #000000;
$white : #ffffff;
$gray-base : #666666;
$gray-darkest : darken($gray-base, 28.0%); // #222
$gray-darker : darken($gray-base, 20.0%); // #333
$gray-dark : darken($gray-base, 7.0%); // #555
$gray-light : lighten($gray-base, 7.0%); // #777
$gray-lighter : lighten($gray-base, 20.0%); // #999
$gray-lightest : lighten($gray-base, 53.0%); // #eee
$error-color : #ff0000;
$body-bg : $white;
$green-color : #73D41F;
$dark-grey-color : #2b2b2b;
$blue-color : #1A8DE5;
